.directoryCont {
    height: 300px;
    background-image: url(../../../public/Images/directory.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.directoryCont::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49, 56, 80, 0.8);
    /* Transparent by default */
    transition: background 0.3s ease;
    z-index: 1;
    /* color: #1E2436B0; */
}

.directoryWrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 0;
}

.directoryLoc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 2;
    text-align: center;
}

.directoryLink {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.directoryLink:hover {
    margin-left: 5px;
    text-decoration: underline;
    text-decoration-color: red;
    transition: all 0.5s ease;
}

.directoryName {
    z-index: 2;
    font-size: 45px;
    font-weight: 600;
    color: white;
    line-height: 1;
    text-align: center;
}

.blogDir {
    font-size: 20px !important;
}


.directoryLink, 
.directoryLoc p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    max-width: 100%; /* Ensure it doesn't exceed container width */
}





@media (max-width:768px) {
    .blogDir {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(350px - 50px);
        font-size: 21px !important;
    }
    .directoryLoc p, .directoryLink {
        width: auto; /* Allow the width to adjust naturally */
    }
    .directoryWrap {
        padding: 0; /* Ensure no extra padding pushes content */
    }
    .directoryWrap {
        padding: 50px;
    }
}